@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

  

/*   border radius */
$radius: 0.2rem;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.app {
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100vh;
  background-color:  #f0f7f8;
  color:  #425a65;
}
h1{
  font-size:6rem;
}
.button__wrapper{
  display:flex;
  gap:1rem;
  & > *{
    border: none;
    background-color:white;
    box-shadow:0px 0px 10px #cfd8dc;
    font-weight:bold;
    font-size: 2rem;
    color:inherit;
    border-raduis: 50%;
    height: 4rem;
    width: 4rem;
    cursor:pointer;
    outline:none;
    transition:
      background-color 250ms ease-in-out,
      transform 50ms ease-in-out;

    &:hover{
      background-color:#cfd8dc;
    }
    &:active{
      transform:scale(0.9);
    }
  }
}

.negative{
  color:#ff1744;;
  animation: pulse 500ms ease-in-out;
}
.positive{
  color: #2abf77;
  animation: pulse 500ms ease-in-out;
}
@keyfromes{
  0%, 100%{
    transform:scale(1);
  }
  50%{
    transform:scale(1.2);
  }
}
}
